In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("loan.csv")

C:\Users\mathu\AppData\Local\Temp\ipykernel_31780\2042666052.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("loan.csv")

In [3]:
df.head(5)
df.shape

(39717, 111)

In [4]:
#Get the total number of Rows in the Dataset.
#Use that to see how many columns have all NA and drop them
numrows = len(df.index)
numrows
dropcols = df.columns[df.isna().sum()==numrows]
df = df.drop(columns=dropcols,axis=1)

In [5]:
#dropping the below columns also as they have high NA values
dropcols = df.isna().sum().sort_values(ascending=False).head(4).index
df = df.drop(columns=dropcols,axis=1)

In [6]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,67.79,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [7]:
#dropping id , member_ID as they hold no significance
df = df.drop(columns=['member_id','id'])

#df["member_id"].value_counts().sort_values(ascending=False)

In [8]:
df.isnull().sum().sort_values(ascending=False)

emp_title                     2459
emp_length                    1075
pub_rec_bankruptcies           697
last_pymnt_d                    71
collections_12_mths_ex_med      56
chargeoff_within_12_mths        56
revol_util                      50
tax_liens                       39
title                           11
last_credit_pull_d               2
total_acc                        0
initial_list_status              0
out_prncp                        0
out_prncp_inv                    0
total_pymnt                      0
total_pymnt_inv                  0
total_rec_prncp                  0
policy_code                      0
application_type                 0
total_rec_late_fee               0
recoveries                       0
collection_recovery_fee          0
revol_bal                        0
last_pymnt_amnt                  0
delinq_amnt                      0
acc_now_delinq                   0
total_rec_int                    0
loan_amnt                        0
pub_rec                          0
issue_d                          0
funded_amnt_inv                  0
term                             0
int_rate                         0
installment                      0
grade                            0
sub_grade                        0
home_ownership                   0
annual_inc                       0
verification_status              0
loan_status                      0
funded_amnt                      0
pymnt_plan                       0
url                              0
purpose                          0
zip_code                         0
addr_state                       0
dti                              0
delinq_2yrs                      0
earliest_cr_line                 0
inq_last_6mths                   0
open_acc                         0
dtype: int64

In [9]:
#dropping emp_title as they hold no significance
df = df.drop(columns=['emp_title'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 50 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   39717 non-null  int64
 1   funded_amnt                 39717 non-null  int64
 2   funded_amnt_inv             39717 non-null  float64
 3   term                        39717 non-null  object
 4   int_rate                    39717 non-null  object
 5   installment                 39717 non-null  float64
 6   grade                       39717 non-null  object
 7   sub_grade                   39717 non-null  object
 8   emp_length                  38642 non-null  object
 9   home_ownership              39717 non-null  object
 10  annual_inc                  39717 non-null  float64
 11  verification_status         39717 non-null  object
 12  issue_d                     39717 non-null  object
 13  loan_status                 39717 non-null  object
 14  pymnt_plan                  39717 non-null  object
 15  url                         39717 non-null  object
 16  purpose                     39717 non-null  object
 17  title                       39706 non-null  object
 18  zip_code                    39717 non-null  object
 19  addr_state                  39717 non-null  object
 20  dti                         39717 non-null  float64
 21  delinq_2yrs                 39717 non-null  int64
 22  earliest_cr_line            39717 non-null  object
 23  inq_last_6mths              39717 non-null  int64
 24  open_acc                    39717 non-null  int64
 25  pub_rec                     39717 non-null  int64
 26  revol_bal                   39717 non-null  int64
 27  revol_util                  39667 non-null  object
 28  total_acc                   39717 non-null  int64
 29  initial_list_status         39717 non-null  object
 30  out_prncp                   39717 non-null  float64
 31  out_prncp_inv               39717 non-null  float64
 32  total_pymnt                 39717 non-null  float64
 33  total_pymnt_inv             39717 non-null  float64
 34  total_rec_prncp             39717 non-null  float64
 35  total_rec_int               39717 non-null  float64
 36  total_rec_late_fee          39717 non-null  float64
 37  recoveries                  39717 non-null  float64
 38  collection_recovery_fee     39717 non-null  float64
 39  last_pymnt_d                39646 non-null  object
 40  last_pymnt_amnt             39717 non-null  float64
 41  last_credit_pull_d          39715 non-null  object
 42  collections_12_mths_ex_med  39661 non-null  float64
 43  policy_code                 39717 non-null  int64
 44  application_type            39717 non-null  object
 45  acc_now_delinq              39717 non-null  int64
 46  chargeoff_within_12_mths    39661 non-null  float64
 47  delinq_amnt                 39717 non-null  int64
 48  pub_rec_bankruptcies        39020 non-null  float64
 49  tax_liens                   39678 non-null  float64
dtypes: float64(18), int64(11), object(21)
memory usage: 15.2+ MB

In [11]:
df["title"].value_counts().count()
#title can be removed

19615

In [12]:
df["url"].value_counts().count()
#url can be removed

39717

In [13]:
df["application_type"].value_counts()
#Only Indidival Applications are there. Even this can be removed

application_type
INDIVIDUAL    39717
Name: count, dtype: int64

In [14]:
df["policy_code"].value_counts()
#AllColumns have same value. even this can be removed

policy_code
1    39717
Name: count, dtype: int64

In [15]:
df["tax_liens"].value_counts()
#AllColumns have same value. even this can be removed

tax_liens
0.0    39678
Name: count, dtype: int64

In [16]:
df["delinq_amnt"].value_counts()
#AllColumns have same value. even this can be removed

delinq_amnt
0    39717
Name: count, dtype: int64

In [17]:
df["chargeoff_within_12_mths"].value_counts()
#AllColumns have same value. even this can be removed

chargeoff_within_12_mths
0.0    39661
Name: count, dtype: int64

In [18]:
df["acc_now_delinq"].value_counts()
#AllColumns have same value. even this can be removed

acc_now_delinq
0    39717
Name: count, dtype: int64

In [19]:

df["collections_12_mths_ex_med"].value_counts()
#AllColumns have same value. even this can be removed

collections_12_mths_ex_med
0.0    39661
Name: count, dtype: int64

In [20]:

df["initial_list_status"].value_counts()
#AllColumns have same value. even this can be removed

initial_list_status
f    39717
Name: count, dtype: int64

In [21]:
df = df.drop(columns=['title','application_type','url','tax_liens','policy_code','delinq_amnt','chargeoff_within_12_mths','acc_now_delinq','collections_12_mths_ex_med','initial_list_status',])

In [22]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies
0,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,10+ years,RENT,...,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,May-16,0.0
1,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,< 1 year,RENT,...,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,Sep-13,0.0
2,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,10+ years,RENT,...,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,May-16,0.0
3,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,10+ years,RENT,...,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,Apr-16,0.0
4,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,1 year,RENT,...,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,May-16,0.0

In [23]:
df["revol_util"].value_counts()

revol_util
0%        977
0.20%      63
63%        62
40.70%     58
66.70%     58
         ...
25.74%      1
47.36%      1
24.65%      1
10.61%      1
7.28%       1
Name: count, Length: 1089, dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 40 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                39717 non-null  int64
 1   funded_amnt              39717 non-null  int64
 2   funded_amnt_inv          39717 non-null  float64
 3   term                     39717 non-null  object
 4   int_rate                 39717 non-null  object
 5   installment              39717 non-null  float64
 6   grade                    39717 non-null  object
 7   sub_grade                39717 non-null  object
 8   emp_length               38642 non-null  object
 9   home_ownership           39717 non-null  object
 10  annual_inc               39717 non-null  float64
 11  verification_status      39717 non-null  object
 12  issue_d                  39717 non-null  object
 13  loan_status              39717 non-null  object
 14  pymnt_plan               39717 non-null  object
 15  purpose                  39717 non-null  object
 16  zip_code                 39717 non-null  object
 17  addr_state               39717 non-null  object
 18  dti                      39717 non-null  float64
 19  delinq_2yrs              39717 non-null  int64
 20  earliest_cr_line         39717 non-null  object
 21  inq_last_6mths           39717 non-null  int64
 22  open_acc                 39717 non-null  int64
 23  pub_rec                  39717 non-null  int64
 24  revol_bal                39717 non-null  int64
 25  revol_util               39667 non-null  object
 26  total_acc                39717 non-null  int64
 27  out_prncp                39717 non-null  float64
 28  out_prncp_inv            39717 non-null  float64
 29  total_pymnt              39717 non-null  float64
 30  total_pymnt_inv          39717 non-null  float64
 31  total_rec_prncp          39717 non-null  float64
 32  total_rec_int            39717 non-null  float64
 33  total_rec_late_fee       39717 non-null  float64
 34  recoveries               39717 non-null  float64
 35  collection_recovery_fee  39717 non-null  float64
 36  last_pymnt_d             39646 non-null  object
 37  last_pymnt_amnt          39717 non-null  float64
 38  last_credit_pull_d       39715 non-null  object
 39  pub_rec_bankruptcies     39020 non-null  float64
dtypes: float64(15), int64(8), object(17)
memory usage: 12.1+ MB

In [25]:
df.shape

(39717, 40)

In [26]:
df['loan_status'].value_counts()

loan_status
Fully Paid     32950
Charged Off     5627
Current         1140
Name: count, dtype: int64